[Unit]
Description="Weather data fetching"

[Service]
Type=simple
ExecStart=@bindir@/open-weather-fetch
Restart=on-failure

[Install]
WantedBy=default.target
